
    <div class="py-20 max-w-6xl flex flex-col space-y-10 mx-auto ">
        <h1 class="text-3xl text-center uppercase font-medium tracking-wide">
            You love <strong>natural sauces!</strong>
         </h1>
        <p class="text-lg text-center font-normal tracking-wide mx-auto max-w-80">
            Get the new first on exclusive offers and product launches!
        </p>
       {% comment %} 
       Subscribe for Discount 
       {% endcomment %}
       <div class="flex items-center justify-center space-x-10">
            <h2 class="uppercase text-xl font-semibold max-w-36">
                Sign Up! @ 15% Discount
            </h2>
            <div class="flex items-center justify-center space-x-3 w-2/3" >
                <input type="email" placeholder="Please enter your email" class=" w-3/4 border border-black rounded-md px-5 py-2">
                <button class="uppercase text-lg font-semibold shadow-xl py-2 px-3 rounded-lg hover:bg-gray-200">
                    Subscribe
                </button>
            </div>
            
       </div>
        
        
    </div>
