
    <div class="py-8 max-w-6xl flex flex-col space-y-10 mx-auto ">
        <div class="flex flex-col justify-center items-center py-5">
            <h1 class=" flex flex-col justify-center items-center uppercase text-2xl md:text-4xl font-bold pb-5">Gift Something Spicy</h1>
           <div class="max-w-6xl mx-auto py-5">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
            {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
                {% render 'product-card', product: product %}
            {% else %}
                {% for item in (1..4) %}
                    {% render 'product-card-placeholder' %}
                {% endfor %}
            {% endfor %}
        </div>
        </div>

        <div class="flex justify-center items-center space-x-2 space-y-3 py-5 ">
            
            <h2 class="text-3xl text-center uppercase font-base tracking-wide px-2">
                You love <strong>natural sauces!</strong>
            </h2>
            <span class="">
                {% render 'icon-blackchilli' %}
            </span>
        </div>

        <p class="text-lg text-center font-normal tracking-wide mx-auto max-w-80">
            Get the new first on exclusive offers and product launches!
        </p>
       {% comment %} 
       Subscribe for Discount 
       {% endcomment %}
       
        {% form 'contact' %}
            <div class="flex flex-col md:flex-row items-center justify-center space-x-1 md:space-x-10 px-2">
                <h3 class="uppercase text-xl font-semibold max-w-36">
                    Sign Up! @ 20% Discount
                </h3>
            <div class="flex items-center justify-center space-x-3 w-2/3">
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="email" name="contact[email]" id="contact_email" placeholder="Please enter your email" class="w-1/2 md:w-3/4 border border-black rounded-md px-5 py-2" required>
                <button type="submit" class="uppercase text-md md:text-lg font-semibold shadow-xl py-2 px-3 rounded-lg hover:bg-gray-200">
                    Subscribe
                </button>
      
        {% endform %}  </div>
        
    </div>
        
        
    </div>

    {% schema %}
{
    "name": "Featured Collection",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Featured Collection",
                "label": "Title"
            },
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "number_of_products_to_show",
                "min": 3,
                "max": 12,
                "default": 3,
                "label": "Number of products to show",
                "step": 1
            },
            {
                "type": "text",
                "id": "button_text",
                "default": "View All",
                "label": "Button Text"
            }
        ],
        "presets": [
            {
                "name": "Featured Collection"
            }
        ]
}
{% endschema %}