<div class="bg-black text-white w-full">
    <div class="py-20 max-w-6xl flex flex-col space-y-3 mx-auto">
        <h1 class="text-2xl text-center uppercase font-bold tracking-wide">
            Genuine reviews
        </h1>
        <h2 class="text-3xl text-center uppercase font-normal tracking-wide">
            From genuine customers
        </h2>
        <div class="flex flex-col items-center justify-center text-center space-y-5">
            <div class="flex items-center justify-center opacity-70">
                {% for i in (1..5) %}
                    {% render 'icon-star' %}
                {% endfor %}
                </div>
                <h3 class="font-bold text-xl">
                    4.9 out of 5
                </h3>
                <p class="text-gray-400">
                    Based on 300+ reviews
                </p>
                <div class="grid grid-cols-3 gap-10 items-center justify-center x-auto">
                    <div class="ml-10">
                        {% render 'icon-chevron-left' %}
                    </div>
                    <div class="flex flex-col space-y-2 uppercase">
                        <p class="font-bold">Love the mango, pineapple, cucumber & mango and marinade</p>
                        <p>&quot;These sauces taste amazing 10/10. The taste is a massive wow&quot;</p>
                        <p class="lowercase font-bold underline decoration-4 underline-offset-8">@the_hungry_guru</p>                
                </div>
                <div>
                    {% render 'icon-chevron-right' %}
                </div>
                </div>
                
        </div>
        
        
    </div>

</div>
    