<div class="flex flex-col items-center my-8 text-center">
    <h1 class="text-5xl font-sm my-8 md:my-16">{{ page.title }}</h1>
    <div class="max-w-6xl mx-auto px-6 md:px-10 py-5 text-gray-600 md:min-w-[600px]">{{ page.content}}</div>
</div>
